<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="site-header">
    <div class="wrap">

        <nav class="nav">
            <a class="brand" th:href="@{/}">
                <strong th:text="${siteName} ?: 'Стихи на заказ'">Стихи на заказ</strong>
                <span class="small" th:text="${authorName} ?: 'Автор'">Алексей Боков</span>
            </a>

            <a th:href="@{/}" th:classappend="${activePage}=='home' ? ' is-active' : ''">Главная</a>
            <a th:href="@{/reviews}" th:classappend="${activePage}=='reviews' ? ' is-active' : ''">Отзывы</a>
            <a th:href="@{/contacts}" th:classappend="${activePage}=='contacts' ? ' is-active' : ''">Контакты</a>
            <a th:href="@{/order}" th:classappend="${activePage}=='order' ? ' is-active' : ''">Заказать</a>
        </nav>

    </div>
</header>
